<app-navbar></app-navbar><br>
<section>
    <div class="relative">
        <img src="https://s.udemycdn.com/logout/ufb-logout-hero-desktop-v2.jpg" alt="" id="a">
        <div class="mb-10 absolute top-2/4 left-16">
            <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="" class="">
            <p>Your company can give you access to our<br> top 22,000+ business and tech courses.</p>
            <button class="py-3 px-2 bg-gray-900 text-white font-bold mt-2">Learn More</button>
        </div>
    </div><br>
    <div class="w-11/12 flex mx-auto font-sans shadow-md">
        <div>
            <img src="https://img-b.udemycdn.com/course/480x270/3633762_96db_2.jpg" alt="">
        </div>
        <div class="ml-4">
            <h1 class="font-extrabold text-2xl">Day Trading Options For Income</h1>
            <p class="text-lg font-semibold">The Mighty Ninety Strategy</p>
            <p>By Stephen Burnich</p>
            <h2 class="font-bold text-xl">$ 389</h2>
        </div>
    </div>
</section><br>
<app-footer></app-footer>
