<h1>Your Courses</h1>
<div class="flex justify-center items-start">
    <app-loader [isloading]="isloading"></app-loader>
  </div>
<div class="flex flex-wrap -mx-4">
    <!-- Course 1 -->
    <div *ngFor="let data of datas" class="w-1/4 px-4 mb-4">
        <div class="bg-white rounded-lg shadow-md p-4">
            <img [src]="data.image">
            <h3 class="mt-2 text-lg font-semibold">{{data.title}}</h3>
            <p class="text-gray-500">{{data.description}}</p>
            <button (click)="HandleClick(data.id)" class="py-2 font-bold rounded px-5 grayy text-white hover:outline-black hover:text-black button_pink hover:cursor-pointer">View Assignments</button>
        </div>
    </div>
</div>
